# Day2 Bootcamp Assignment2

#### Q1 - Remove all occurrences of a specific value from a list:

In [3]:
numbers = [1, 2, 3, 4, 3, 5]
value_to_remove = 3
numbers = [num for num in numbers if num != value_to_remove]
print(numbers)

[1, 2, 4, 5]

### Q2 - Concatenate a list of strings into a single string separated by a space:

In [4]:
words = ["Hello", "world", "from", "Python"]
sentence = " ".join(words)
print(sentence)

Hello world from Python

### Q3 -Reverse a list of integers:

In [5]:
numbers = [1, 2, 3, 4, 5]
numbers[::-1]

[5, 4, 3, 2, 1]

### Q4- ort a list of numbers in descending order:

In [6]:
numbers = [1, 4, 2, 5, 3]
numbers.sort(reverse=True)
print(numbers)

[5, 4, 3, 2, 1]

### Q5 - Combine two lists and remove duplicates:

In [7]:
list1 = [1, 2, 3]
list2 = [3, 4, 5]
combined_list = list(set(list1 + list2))
print(combined_list)

[1, 2, 3, 4, 5]

### Q6- Convert a tuple to a list and remove the first and last elements:

In [8]:
numbers = (1, 2, 3, 4, 5)
numbers_list = list(numbers)[1:-1]
print(numbers_list)

[2, 3, 4]

### Q7- Extract the first elements of each tuple into a separate list:

In [9]:
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = [x for x, y in tuples]
print(first_elements)

[1, 2, 3]

### Q8- Combine two tuples into one:

In [10]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

### Q9- Find maximum and minimum values in a tuple:

In [11]:
numbers = (1, 2, 3, 4, 5)
max_value = max(numbers)
min_value = min(numbers)
print(f"Max: {max_value}, Min: {min_value}")

Max: 5, Min: 1

### Q10- Convert a tuple of strings into a single string with commas:

In [12]:
words = ('apple', 'banana', 'cherry')
result = ', '.join(words)
print(result)

apple, banana, cherry

### Q11- Find the union of two sets:

In [13]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

### Q12- Find the intersection of two sets:

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

### Q13-Remove all elements from one set present in another:

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.difference_update(set2)
print(set1)

{1, 2}

### Q14- Find the difference between two sets:

In [16]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

### Q15- Convert a list of integers to a set and back to a list to remove duplicates:

In [17]:
numbers = [1, 2, 3, 3, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

### Q16- Merge two dictionaries into one:

In [34]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)  # Output: {'a': 1, 'b': 3, 'c': 4}

['(())()', '()()()']